<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./assets/vue.svg">
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./config/tailwind.js"></script>
    <title>html-vue</title>
</head>

<body>
    <div id="app">
        <div class="font-mono w-screen h-screen flex flex-col items-center justify-center text-4xl">
            <div class="mb-8 text-base"> elp pr #16393: click: {{num}}</div>

            <el-select @click="num ++" clearable v-model="value" placeholder="Select" style="width: 240px">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"
                    :disabled="item.disabled"></el-option>
            </el-select>

            <el-link href="./index.html" type="primary" class="mt-10 border px-5 rounded-full">./ elp last
                html</el-link>
        </div>
    </div>
</body>

</html>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./index.full.js"></script>
<script type="module">
    const { createApp, ref, onMounted } = Vue

    const vue3Composition = {
        setup() {
            const num = ref(0)

            const value = ref('')
            const options = [
                {
                    value: 'Option1',
                    label: 'Option1',
                },
                {
                    value: 'Option2',
                    label: 'Option2',
                    disabled: true,
                },
                {
                    value: 'Option3',
                    label: 'Option3',
                },
                {
                    value: 'Option4',
                    label: 'Option4',
                },
                {
                    value: 'Option5',
                    label: 'Option5',
                },
            ]

            onMounted(() => { })

            return { num, value, options }
        }
    }

    const app = createApp(vue3Composition)
    app.use(ElementPlus)
    app.mount('#app')
</script>